version: '3.2'

services:

  frontend:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: alcheneg-lab-frontend-1
    ports:
      - 20080:80
    volumes:
      - ~/.composer-docker/cache:/root/.composer/cache:delegated
      - ./:/app
    depends_on:
      - mysql

  backend:
    build: backend
    container_name: alcheneg-lab-backend-1
    ports:
      - 21080:80
    volumes:
      - ~/.composer-docker/cache:/root/.composer/cache:delegated
      - ./:/app
    depends_on:
      - mysql

  mysql:
    image: mysql:8.0
    container_name: alcheneg-lab-mysql-1
    platform: linux/amd64
    environment:
      - MYSQL_ROOT_PASSWORD=verysecret
      - MYSQL_DATABASE=Alcheneg
      - MYSQL_USER=alcheneg_user
      - MYSQL_PASSWORD=alcheneg_pass
    ports:
      - "3306:3306"

  phpmyadmin:
    image: phpmyadmin:latest
    container_name: alcheneg-lab-phpmyadmin-1
    ports:
      - 8080:80
    environment:
      - PMA_HOST=mysql
      - PMA_USER=alcheneg_user
      - PMA_PASSWORD=alcheneg_pass
    depends_on:
      - mysql